.main-content.main-content-form {
    flex-grow: 1;
    background-color: #f8f9fa;
}
.form-card {
    background-color: #fff;
    border-radius: 8px;
    padding: 2rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    width: 100%;
}
.form-title {
    margin-bottom: 2rem;
}